<p>Creator: <%= @project.creator.try(:name) || 'Unknown' %></p>
<p>Assign_to: <%= @project.developer.try(:name) || 'Unknown' %></p>
<h2>New Project created</h2>
<p>Hello <%= @user.name %>,</p>
<p>A new task has been assigned to you:</p>
<p>Project Name: <%= @project.name %></p>
<p>Description: <%= @project.description %></p>
<p>Please log in to your account to view more details.</p>
<p>Regards,</p>
<p>Your Application Team</p>
</body>
