<%= form_with model: project do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.where(role: [:qa, :developer]), :id, :name, prompt: true %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


